@tailwind base;
@tailwind components;
@tailwind utilities;


/* Định nghĩa các biến màu cho chế độ Sáng và Tối */

:root {
  --bg-color: #f8fafc;
  --text-color: #0f172a;
  --card-bg: #ffffff;
  --border-color: #e2e8f0;
}


body.theme-dark {
  --bg-color: #020617 !important;
  --text-color: #f1f5f9 !important;
  --card-bg: #0f172a !important;
  --border-color: #1e293b !important;
}


/* Mặc định body */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}